@import "@style/Var.scss";



.main-container button{
position: sticky;
top: 60px;
height: 35px;
background-color: $--hospital-green;
border: none;
width: 100%;
min-width: 500px;
z-index: 0;
}

.ProductList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 500px);
	gap: 10px;
	place-content: center;
}

.EditForm{
	position: sticky;
	top: 95px;
	z-index: 0;

}

.Alert{
	position: fixed;
	bottom: 10px;
}

@media (max-width: 500px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, auto);
		min-width: 500px;
	}
	.EditForm{
		top: 40px;
		width: 500px;
	}		
}