@import '@style/Var.scss';
//Errors
.container{
    background-color: $--Warning;
    border-radius: 8px;
    width:300px;
}

.container .alertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .alertContainer .Close{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 8px;
    cursor: pointer;
}
//Success
.Container{
    background-color: $--Success;
    border-radius: 8px;
    width:300px;
}

.Container .AlertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container .AlertContainer .Close{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 8px;
    cursor: pointer;
}

