@import '@style/Var.scss';

.ProductItem {
  width: 240px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.CategoryName{
  writing-mode: tb-rl;
  text-orientation: upright;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: $--hospital-green;
  border-radius: 5px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 8px 8px 10px 5px;
  opacity: 70%;
  height: 222px;
  text-align: center;
}

.loading-container {
	position: absolute;
	bottom: 50%;
  z-index: -1;
}
.ProductItem img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: $--Md;
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: $--Md;
  margin-top: 0;
  margin-bottom: 0;
  color: $--very-light-pink;
}

.image-loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.image-loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes image-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .ProductItem {
    width: 140px;
  }
  .ProductItem img {
    width: 140px;
    height: 140px;
  }
  .CategoryName {
    writing-mode: horizontal-tb;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $--hospital-green;
    border-radius: 5px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    padding: 8px 8px 10px 5px;
    opacity: 70%;
    height: 10px;
    text-align: center;
    width: 127px;
  }
}
